#form-wrapper {
  width: 100%;
  height: 45%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#form-tag {
  width: 95%;
  height: 95%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 0.5fr);
  grid-template-areas:
    "title-wrapper author-wrapper"
    "content-wrapper content-wrapper"
    "submitBtn-wrapper submitBtn-wrapper";
  grid-row-gap: 4%;
  grid-column-gap: 2%;
}

.field-wrapper {
  width: 100%;
  height: 80%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% minmax(0, 1fr);
  grid-template-areas:
    "label-wrapper"
    "input-wrapper";
  padding: 8px;
  background-color: #f3f5f9;
  border-radius: 5px;
}
.label-wrapper {
  grid-area: label-wrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label-wrapper p {
  font-size: 0.6rem;
  font-weight: bold;
}
.input-wrapper {
  grid-area: input-wrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.input-wrapper input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.input-wrapper textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#title-wrapper {
  height: 100%;
  width: 100%;
  grid-area: title-wrapper;
  /* border: 2px solid red; */
}

#author-wrapper {
  height: 100%;
  width: 100%;
  grid-area: author-wrapper;
  /* border: 2px solid blue; */
}

#content-wrapper {
  height: 100%;
  width: 100%;
  grid-area: content-wrapper;
  /* border: 2px solid green; */
}

#submitBtn-wrapper {
  height: 100%;
  width: 100%;
  grid-area: submitBtn-wrapper;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#submitBtn-wrapper button {
  background-color: #002a9a;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  width: 90px;
  height: 60%;
}
